.sidebar {
    background-color: #484049;
}

.open { 
    width: 50%;
 } 

.closed {
    width: 50px;
} 

.sidebar button {
    background: white;
    color: #484049;
    border: none;
    border-radius: 5px;
}