table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    /* padding-left: 30px; */
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #ada2b6;
  }

.shopping-name{
  color: white;
}
