.media img {
    width: 230px;
    height: 100%;
}

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #e4dee5;
    border-radius: 10px 10px 10px 10px;
}

.product-card:hover {
    box-shadow: 0 40px 40px 0 rgba(0,0,0,0.2);
}
  
.product-contents {
    display: flex;
}  

.product-container {
    padding: 10px;
}  

/* .product-price {
    padding-left: 10px;
} */